body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
    border: 2px solid;
    background-color: violet;
    color: #586CDE;
    font-family: Garmond;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: 700;
}

.img-medium {
    height: 200px;
}
.information{
    font-family: Verdana;
    color: violet;
    font-size: 25px;
    margin-left:100px;
    margin-right: 100px;
}

